h1 {
    text-align: center;
    text-transform: uppercase;
    color: #000080;
    margin-bottom: 1em;
}

h2 {
    text-align: left;
    text-transform: uppercase;
    margin-top: 2em;
}

code {
    font-family: monospace, monospace;
    white-space: pre-wrap;
}

blockquote {
    background: border-box #e1e1ea;
    border: solid #000080;
    border-width: 0 0 0 4px;
    padding: 0.5em 1em 0.5em 1em;
    margin-left: 0;
    margin-right: 0;
    border-radius: 2px;
}

blockquote p {
    margin: 0;
}

p {
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 0;
}

p.verse {
    background: border-box #e1e1ea;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 2px;
}

ul, ol {
    line-height: 1.5em;
    text-align: justify;
    margin-top: 0;
    padding-left: 1em;
}

ul li {
    list-style: square;
}

ul li::marker {
    color: #000080;
}

table {
    margin-top: 16px;
    border-collapse:collapse;
}
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
td, th { vertical-align:top;  }
th.org-right  { text-align: center; }
th.org-left   { text-align: center; }
th.org-center { text-align: center; }
td.org-right  { text-align: right;  }
td.org-left   { text-align: left;   }
td.org-center { text-align: center; }

body {
    font-family: sans-serif;
    max-width: 60em;
    margin: 0 auto;
    padding: .5em 1em 1em 1em;
}

.timestamp-wrapper {
    white-space: pre-wrap;
}
.timestamp {
    color: #000080;
}

.org-right  { margin-left: auto; margin-right: 0px;  text-align: right; }
.org-left   { margin-left: 0px;  margin-right: auto; text-align: left; }
.org-center { margin-left: auto; margin-right: auto; text-align: center; }
.underline { text-decoration: underline; }

pre {
    font-family: monospace;
    padding: 1em;
    overflow: auto;
    border: 1px solid black;
    border-radius: 2px;
}
pre.example {}
pre.src {}

.footpara { display: inline; }
.footdef  { margin-bottom: 1em; }
.figure { padding: 1em; }
.figure p { text-align: center; }

.equation-container {
    display: table;
    text-align: center;
    width: 100%;
}
.equation {
    vertical-align: middle;
}
.equation-label {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
.inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
}
.linenr { font-size: smaller }
.code-highlighted { background-color: #ffff00; }
.org-svg { width: 90%; }
